html, body {
    width: 100%;
    margin: 0;
    font-size: 1em;
    background-color: #001A25;
}

input{
    -webkit-appearance: none;
}
.button{
    -webkit-appearance: none;
}
button{
    -webkit-appearance: none;
}

.arva-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    height: 40px;
    border-radius: 5px;
    width: 156px;
    font-size: 0.7em;
    background-color: #00FA9A;
    color: #001A27;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(0,250,154,0.33);
    border: none;
}

.counter-container {
    display: flex;
    float: right;
    flex-direction: row;
}
.counter-currency {
    /* €: */
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 1.625em;
    color: #00FA9A;
    letter-spacing: 0;
    width: 40px;
    height: 48px;
    padding-left: 14px;
    padding-top: 10px;
}
.counter-title {
    /* ICO Goal: */
    font-size: 1em;
    font-family: 'Roboto';
    font-weight: 200;
    margin-bottom: 14px;
    text-align: right;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 26px;
}

.counter-private {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.625em;
    color: #00FA9A;
    padding: 9px 10px;
    border: 3px solid;
    border-image: url("../img/total-funds.png") 5;
text-transform: uppercase;
letter-spacing: 4px;
}

.number-disabled {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.625em;
    color: rgba(36,234,201,0.30);
    width: 40px;
    height: 48px;
    padding-left: 14px;
    padding-top: 10px;
    background: url("../img/number-bg-disabled.svg") no-repeat scroll 0 0 transparent;
}
.number-seperator {
    width: 10px;
    height: 48px;
    padding-top: 10px;
}
.number-enabled {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.625em;
    color: #00FA9A;
    width: 40px;
    height: 48px;
    padding-left: 14px;
    padding-top: 10px;
    background: url("../img/number-bg-enabled.svg") no-repeat scroll 0 0 transparent;
}

.transparent-btn {
    background-color: transparent;
    border: 1px rgba(0, 250, 154, 0.3) solid;
    box-shadow: none;
    color: white;
}

.dashed-btn {
    background-color: transparent;
    border: 1px rgba(0, 250, 154, 0.3) dashed;
    box-shadow: none;
    color: white;
}

#full-page-body {
    padding: 120px 94px;
    height: auto;
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#landing-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        'rocket rocket rocket . private private private'
        'rocket rocket rocket . private private private'
        'rocket rocket rocket . total total total'
        'ready ready ready . total total total'
        'ready ready ready . goal goal goal'
        'ready ready ready . goal goal goal'
        'subtitle subtitle subtitle . cap cap cap'
        'subtitle subtitle subtitle . cap cap cap'
        'buttons buttons buttons . x10 x10 showAll'
        'buttons buttons buttons . x10 x10 showAll';
}

#rocket {
    grid-area: rocket;
}

#private {
    grid-area: private;
}

#total {
    grid-area: total;
}

#ready {
    grid-area: ready;
}
#ready-title {
    /* Ready for the big ga: */
    font-family: 'Montserrat';
    font-size: 4.375em;
    color: #FFFFFF;
    letter-spacing: 0;
}
#ready-title span {
    color: #00E4C3;
}
#ready-subtitle {
    /* Because we are.: */
    font-size: 3em;
    font-family: 'Montserrat';
    font-weight: 200;
    color: #FFFFFF;
    letter-spacing: 0;
}

#goal {
    grid-area: goal;
}

#subtitle {
    grid-area: subtitle;
}
#subtitle-text {
    /* Private ICO investme: */
    font-size: 1.625em;
    font-family: 'Roboto';
    font-weight: 200;
    color: #C4DFDA;
    letter-spacing: 0;
    line-height: 36px;
}

#cap {
    grid-area: cap;
}

#buttons {
    grid-area: buttons;
}

#x10 {
    grid-area: x10;
    display: flex;
    flex-direction: row;
}

#showAll {
    grid-area: showAll;
}

#logo-arva {
    width: 107px;
    height: 109px;
    background-size: contain;
}

#x10-image {
    width: 3.75em;
    height: 3.75em;
    flex: 1 0 80px;
    background-repeat: no-repeat;
}

#x10-explain {
    color: #C4DFDA;
    /* Get a x10 multiplier: */
    font-family: 'Roboto';
    font-weight: 200;
    flex: 0 1 auto;
    font-size: 1.125em;
    padding: 5px;
    letter-spacing: 0;
    line-height: 1.625em;
}


/* Images below */
#x10-image {
    background-image: url(/img/x10-icon.png);
}

#logo-arva {
    background-image: url(/img/logo-arva.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #x10-image {
        background-image: url(/img/x10-icon@2x.png);
    }

    #logo-arva {
        background-image: url(/img/logo-arva@2x.png);
    }
}